body {
    margin: 0;
    padding: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(48, 216, 202, 0.1);
  }

  .rotateButtons{
    width: 100%;
    height: 15%;
  }
  .zone {
    display: block;
    position: absolute;
    width: 100%;
    height: 85%;
    left: 0;
  }